openai_api_key.txt
*__pycache__*
data/*
.vscode/*
.venv/*
.DS_Store
*.ipynb_checkpoints/*
*.pyc
*.env
*.log
*.venv
settings.json
site/*
guardrails.log
guardrails_ai.egg-info/
*/build/*
dist/*
*.rail_output*
.idea/*
.cache
scratch/
.coverage*
coverage.xml
test.db
test.index
htmlcov
node_modules
.docusaurus
.vercel
!docs/docusaurus/examples-toc.json
.python-version
static/docs
docusaurus/static/docs
*/bin/*
*/etc/*
*/lib/*
*/lib64/*
*/include/*
*/share/*
pyvenv.cfg
mlruns
mlartifacts
