openai_api_key.txt
*__pycache__*
data/*
.vscode/*
.DS_Store
*.ipynb_checkpoints/*
*.pyc
*.env
*.log
settings.json
site/*
guardrails.log
guardrails_ai.egg-info/
build/*
dist/*
*.rail_output*
.idea/*
.cache
scratch/
.venv