openai_api_key.txt
*__pycache__*
data/*
.vscode/*
.venv/*
.DS_Store
*.ipynb_checkpoints/*
*.pyc
*.env
*.log
*.venv
settings.json
site/*
guardrails.log
guardrails_ai.egg-info/
build/*
dist/*
*.rail_output*
.idea/*
.cache
scratch/
.coverage*
test.db
test.index
htmlcov
.python-version