[tool.poetry]
name = "guardrails-ai"
version = "0.3.3"
description = "Adding guardrails to large language models."
authors = ["Guardrails AI <contact@guardrailsai.com>"]
license = "Apache License 2.0"
readme = "README.md"
packages = [
    { include = "guardrails", from = "." }
]

[tool.poetry.scripts]
guardrails = "guardrails.cli:cli"

[tool.poetry.dependencies]
python = "^3.8"
lxml = "^4.9.3"
openai = "<2"
rich = "^13.6.0"
eliot = "^1.15.0"
eliot-tree = "^21.0.0"
pydantic = ">=1.10.9, <2.5"
typer = "^0.9.0"
griffe = "^0.36.9"
tenacity = ">=8.1.0"
regex = "^2023.10.3"
rstr = "^3.2.2"
typing-extensions = "^4.8.0"
python-dateutil = "^2.8.2"
tiktoken = "^0.5.1"

sqlvalidator = {version = "^0.0.20", optional = true}
sqlalchemy = {version = ">=2.0.9", optional = true}
sqlglot = {version = "^19.0.3", optional = true}
thefuzz = {version = "^0.20.0", optional = true}
nltk = {version = "^3.8.1", optional = true}
faiss-cpu = {version = "^1.7.4", optional = true}
numpy = {version = ">=1.24", optional = true}
alt-profanity-check = {version = "^1.3.1", optional = true}
detect-secrets = {version = "^1.4.0", optional = true}
manifest-ml = {version = "^0.1.8", optional = true}
transformers = {version = "^4.11.3", optional = true}
presidio_analyzer = {version = "^2.2.33", optional = true}
presidio_anonymizer = {version = "^2.2.33", optional = true}
spacy-transformers = {version = "^1.3.3", optional = true}
anthropic = {version = "^0.7.2", optional = true}
torch = {version = "^2.1.1", optional = true}
nbdoc = {version = "^0.0.82", optional = true}
guardrails-ai-unbabel-comet = {version = "^2.2.1", optional = true}
huggingface_hub = {version = "^0.16.4", optional = true}
pydash = "^7.0.6"
docspec_python = "2.2.1"
pydoc-markdown = "4.8.2"


[tool.poetry.extras]
sql = ["sqlvalidator", "sqlalchemy", "sqlglot"]
summary = ["thefuzz", "nltk"]
vectordb = ["faiss-cpu", "numpy"]
profanity = ["alt-profanity-check"]
detect-secrets = ["detect-secrets"]
manifest = ["manifest-ml"]
high_quality_translation = ["guardrails-ai-unbabel-comet", "huggingface_hub"]
toxic_language = ["transformers", "torch"]
pii = ["presidio_analyzer", "presidio_anonymizer"]
competitor-check = ["spacy-transformers"]
anthropic = ["anthropic"]
docs-build = ["nbdoc", "docspec_python", "pydoc-markdown"]


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-asyncio = "^0.21.1"
black = "^23.0.0"
isort = ">=5.12.0"
flake8 = ">=3.8.4"
docformatter = ">=1.4"
pytest-cov = ">=2.10.1"
pre-commit = ">=2.9.3"
twine = "^4.0.2"
pytest-mock = "^3.12.0"
pypdfium2 = "^4.23.1"
pyright = "1.1.334"
lxml-stubs = "^0.4.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.5.3"
mkdocstrings = {extras = ["python"], version = "^0.23.0"}
mkdocs-jupyter = ">=0.23"
mkdocs-material = "^9.4.8"
mknotebooks = "^0.8.0"
griffe = "^0.36.9"
pillow = "^10.1.0"
cairosvg = "^2.7.1"
mkdocs-glightbox = "^0.3.4"

[[tool.poetry.source]]
name = "torch"
url = "https://download.pytorch.org/whl/cpu"
priority = "explicit"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
