.coverage
.coverage.MacBook-Pro.local.75130.XUoRtLxx
.dockerignore
.docusaurus
.git
.github
.gitignore
.idea
.pre-commit-config.yaml
.pytest_cache
.python-version
.ruff_cache
.venv
.vscode
build
codecov.yml
CONTRIBUTING.md
docs
docs-build
docs-graveyard
DOCS.md
docusaurus
htmlcov
make.bat
mlartifacts
mlruns
node_modules
package-lock.json
package.json
tests