**/__pycache__
.venv*
postgres
venv
guardrails-sdk
scratch.py
pgadmin-data
__pycache__/
guard-rails-api-client
guardrails-custom-validators
sdk
.coverage
htmlcov
coverage.json
.pytest_cache
.ropeproject
install*.sh
guardrails-custom-validators
guardrails-api-client
guardrails
*.env
!default.env
opentelemetry-lambda-layer
open-api-spec.json
open-api-spec.yml
.python-version
requirements-lock-old.txt
opensearch
build
*.egg-info
config.py